D365 Label Editor/VS Extension/Service References/LabelEditorServices/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2112/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AVA_LabelEditor.Objects" />
  <xs:complexType name="ArrayOfKeyValueOfstringArrayOfLabel7wRrzq5R">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringArrayOfLabel7wRrzq5R">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AVA_LabelEditor.Objects" name="Value" nillable="true" type="q1:ArrayOfLabel" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringArrayOfLabel7wRrzq5R" nillable="true" type="tns:ArrayOfKeyValueOfstringArrayOfLabel7wRrzq5R" />
</xs:schema>