KCS LabelEditor 2/WcfClientTest/Connected Services/LabelEditorServices/mex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KCS_LabelEditor_2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KCS_LabelEditor_2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLabel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Label" nillable="true" type="tns:Label" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLabel" nillable="true" type="tns:ArrayOfLabel" />
  <xs:complexType name="Label">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ObservableList">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Deleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="FileId" nillable="true" type="tns:FileId" />
          <xs:element minOccurs="0" name="FullId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Language" nillable="true" type="tns:Language" />
          <xs:element minOccurs="0" name="OriginalText" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Label" nillable="true" type="tns:Label" />
  <xs:complexType name="ObservableList">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ObservableList" nillable="true" type="tns:ObservableList" />
  <xs:complexType name="FileId">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileId" nillable="true" type="tns:FileId" />
  <xs:complexType name="Language">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Language" nillable="true" type="tns:Language" />
</xs:schema>