KCS LabelEditor 2/WcfClientTest/Connected Services/LabelEditorServices/mex1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2112/mex?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/KCS_LabelEditor_2" />
  <xs:complexType name="ArrayOfKeyValueOfstringArrayOfLabelY6VncfQ3">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringArrayOfLabelY6VncfQ3">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KCS_LabelEditor_2" name="Value" nillable="true" type="q1:ArrayOfLabel" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringArrayOfLabelY6VncfQ3" nillable="true" type="tns:ArrayOfKeyValueOfstringArrayOfLabelY6VncfQ3" />
</xs:schema>